/* Make sure the height of the interaction pane 
 * spans the height
 */
.interaction__attract, .interaction__nav,
.interaction__explore, .interaction__explore,
.interaction__region {
  position: relative;
  height: 100%;
}

.interaction__attract {
  color: $white;
  padding: 75px 0;

  & > div {
    height: 100%;
  }

  h1 {
    @include font(40, 35, 'Hallo Sans');
    text-align: center;
    text-transform: uppercase;
  }

  img, svg {
    display: block;
    margin: 0 auto;
  }

  p {
    @include font(30, 41, 'OpenSans');
    font-style: italic;
    font-weight: 600;
    padding-bottom: 35px;
    text-align: center;
  }
}

.interaction__explore {
  #explore-map {
    height: 100%;
  }
}

.interaction__nav {
  p {
    margin-bottom: 50px;
  }
}

/* Nav and Region sections */
.interaction__nav,
.interaction__region {
  color: $white;
  padding: 50px 20px;
  text-align: center;

  h2 {
    @include font(34, 46, 'OpenSans');
    font-weight: 600;
    text-align: center;
  }

  p {
    @include font(24, 46, 'OpenSans');
    font-style: italic;
    font-weight: 600;
  }
}

/* Animation */
.radio-1 {
  animation: radio 1.5s steps(4, jump-none) infinite;
}

.radio-2 {
  animation: radioTwo 1.5s steps(3, jump-none) infinite;
}

@keyframes radio {
  0% {
    fill: none;
  }

  10% {
    fill: inherit;
  }

  70% {
    fill: inherit;
  }

  100% {
    fill: none;
  }
}

@keyframes radioTwo {
  0% {
    fill: none;
  }

  50% {
    fill: inherit;
  }

  100% {
    fill: none;
  }
}