<div class="menu__active__wrapper" style="background-color: <%= color %>;">
  <div class="menu__active__wrapper__buttons">
    <button class="menu__active__wrapper__buttons__language" data-nav="active-language" data-language="<%= (language === 'en') ? 'es' : 'en' %>">
      <% if (language === 'en') { %>
        <%= buttonLanguageEs %>
      <% } else { %>
        <%= buttonLanguageEn %>
      <% } %>
    </button>
    <button data-nav="<%= buttonHamburgerNav %>" data-<%= buttonHamburgerNav %>="<%= buttonHamburgerData %>">
      <%= buttonHamburger %>
    </button>
  </div>
</div>