<div class="section <%= optHtmlClass %>">
  <% if (subtitle.length > 0) { %>
  <<%= subtitleTag %> class="subtitle"><%= subtitle %></<%= subtitleTag %>>
  <% } %>
  <<%= titleTag %> class="title" tabindex="-1"><%= title %></<%= titleTag %>>
  <div class="content">
    <div class="content__inner">
      <%= content %>
    </div>
  </div>
  <div class="storymap__list">
    <% if (buttonTitle.length > 0) { %>
    <li>
      <button data-storymaps="<%= actionName %>" data-storymaps-type="navigate" href="#">
        <div>
          <% if (buttonSubtitle.length > 0) { %><span class='storymap__list__button-subtitle'><%= buttonSubtitle %></span><% } %>
          <span class='storymap__list__button-title'><%= buttonTitle %></span>
        </div>
      </button>
      <div class="arrow" data-storymaps="<%= actionName %>" data-storymaps-type="navigate"></div>
    </li>
    <% } %>
    <% if (region.title.length > 0) { %>
    <li>
      <button data-nav="<%= region.actionName %>" data-region="<%= region.targetId %>" href="#">
        <div>
          Explore more of <%= region.title %>
        </div>
      </button>
      <div class="arrow" data-nav="<%= region.actionName %>" data-region="<%= region.targetId %>"></div>
    </li>
    <% } %>
    <% if (nav.title.length > 0) { %>
    <li>
      <button data-nav="<%= nav.actionName %>" data-<%= nav.actionName %>="<%= nav.targetId %>" href="#">
        <div>
          <%= nav.title %>
        </div>
      </button>
      <div class="arrow" data-nav="<%= nav.actionName %>" data-<%= nav.actionName %>="<%= nav.targetId %>"></div>
    </li>
    <% } %>
  </div>
</div>
